table,
th,
td {

    padding: 5px;
}

table {
    border-spacing: 10px;
    background-color:rgba(33, 80, 95, 0.817);
    color: whitesmoke;
    border: 1px solid rgb(0, 0, 0);
    /* padding: 2rem; */
    width: 60rem;
    font-size: larger;
}

table th {
    color: black;
    text-align: left;
    font-style: italic;
}

.num {
    color: black;
}

/* 
table
th,
td {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

   background-color: ;
   
} */

table {
    border-radius: 4px;
    border-collapse: collapse;
}

#leo {
    background-color: red;
}