h2 {
    background-color: brown;
    color: black;
}


.Toun {
    background-color: grey;
    color: chartreuse;

}


#good {
    background-color: black;
    color: darkslateblue;
    width: 100px;
    height: 200px;
}