h4 {
    background-color: lavender;
    color: darkmagenta;
    width: 500px;
    
}

.David {
    background-color: rgba(56, 42, 56, 0.146);
    color: blueviolet;
    width: 300px;
}

#dav {
    background-color: rgba(214, 170, 25, 0.146);
    color: rgb(20, 4, 35);
    width: 600px;
}