h6 {
    background-color: darkblue;
    color: aqua;
    width: 300px;
}

.Shittu {
    background-color: rgba(16, 30, 30, 0.778);
    color: brown;
    width: 500px;
}

#shi {
    background-color: rgba(230, 102, 10, 0.336);
    color: rgba(36, 53, 12, 0.631);
    width: 900px;
    height: 30px;

}